.signin-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
  
.signin-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
  
.signin-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .signin-subtitle {
    font-size: 1rem;
    color: #777;
    margin-bottom: 30px;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-label {
    text-align: left;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  .signin-input {
    padding: 12px;
    margin-bottom: 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.2s;
  }
  
  .signin-input:focus {
    border-color: black;
    outline: none;
  }
  
  .signin-button {
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signin-button:hover {
    background-color: #4f46e5;
  }
  
  .signin-footer {
    font-size: 0.9rem;
    color: #555;
    margin-top: 20px;
  }
  
  .signin-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signin-link:hover {
    text-decoration: underline;
  }
  
  .google-signin-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .google-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .google-button:hover {
    background-color: #357ae8;
  }